
/*--- Import of google font Monserrat--- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/*---- Global Variables declaration -----*/
:root {
    --body: #E3E9E9;
    --text-colour: #808586;
    --header-bg: #133C55;
    --header-title: # ;
    --links: #D9DDDF;
    --link-hover: #fff;
    --banner: #c9c5c5;
    --border-colour: #AFB7BB;
    --box-shadow: #0000004d;
    --work-bg: #bba9d8;
    --box-col: #54428e;
    --skill-col:#BFC0C0;
    --h2-col: #2D3142;
    --span-col: #5ea7e2;
    --toggler-bg: #000;
    --darkslategray: #2f4f4f;
    --burger-mnu: #406774;
    --btn-CV: #3f3c3c;
    --btn-border: #fec107;
}

/*--- All element selectors ----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-colour);  
    scroll-behavior: smooth;  
}
/* Body element Selector set to position Relative and overflow x is set to hidden */
body{ 
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body);
    position: relative;
    width: 100%;
    height: 100vh;;
    overflow-x: hidden;
}

/* Header element Selector. Box shadow added, element set to display as Flexbox*/
header {
    background-color: var(--header-bg);
    box-shadow: 5px 5px 30px var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
/* Heading h1 element selector set to 100px margin left*/
header h1{
    color: var(--header-title);
    margin-left: 100px;
}

/* Element selectors h1, h2, and anchor set to uppercase */
h1, h2, nav li a {
    text-transform: uppercase;
}

/* h2 element selector set to 1.6 rem on font size */
h2 {
    color: var(--h2-col);
    font-size: 1.6rem;
}

/* Sets colour for h3 element selector */
h3{ 
    color: var(--links);
}

/* Sets colour on span element selector */
span{
   color: var(--span-col); 
}

/* --- Nav selector element ---*/

/* Toggler for burger menu visibility is set to hidden*/
.toggler {
    visibility: hidden;
}

/* Burger menu  set to none and floats right*/
.burger-menu {
    float: right;
    margin-right: 50px;
    display: none;
}

/* nav unordered list and buttons sets to no list style, and Flexbox */
nav ul, .button{
    display: flex;  
    list-style: none;
}

/* margin right on anchor */
nav li a {
    color: var(--links);
    margin-right: 40px;
}

/* Colour and undeline sets on anchor in hover state */
nav li a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

/* Sets margin right on last anchor element selector */
nav li:last-child{
    margin-right: 50px;
}

/* Image profile set to absolute*/
.profile-pic {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top:80px;
    left: 180px;
}

/*---- main section ----*/
main{
    margin-top: 300px;
}

/* about me main section set to Flexbox */
#about {
    border: 1px solid var(--border-colour);
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
    display: flex;
    margin-left: 5%;
    padding: 20px;
    width: 50%;
}

.about-me {
    width:250px;
}

/* Margin sets on h2 element selector */
#about h2 {
    margin: 25% 5%;
    width: 100%;
}

/* Sets Flexbox para class*/

.para{   
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    padding: 50px;
    margin-left: 20px;
}

/* Sets spacing for paragraph in About me paragraphs */
.para p {
    display:inline;
    width: 100%;
    letter-spacing: 0.2rem;
    line-height: 1.8rem;
}

/* Sets font size on first paragraph in About Me */
.para p:nth-of-type(1) {
    color: var(--header-bg);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Sets font size on second paragraph in About Me */
.para p:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--darkslategray);
}

/* Sets color, margin, border, width, display property, and
 box-shadow on myWork */
#myWork {
    background-color: var(--work-bg);
    border: 1px solid var(--border-colour);
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
    margin: 2% 0 0 25%;
    width: 70%;
    display: flex;
}

.my-work{
    display:flex;
    justify-content: flex-end;
    width: 20%;
    margin:50px 60px 0 0;
    padding: 5px 0 0 0;
}

.box-container, .tile-contact{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 50px 0 20px 0;
}

.box {
    display:flex;
    width: 300px;
    height: 200px;
    margin: 5px 15px 10px 5px;
    background-color: var(--box-col);
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    position: relative;
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
}

.btn {
    position:absolute;
    bottom: 15px;
    padding: 3px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn-hire, .btn-cv {
    border:none;
    outline: none;
    border-radius: 10px;
    width: 100px;
    margin: 15px 10px 0 0;
    padding: 5px;
}

.btn-cv{
    background-color: var(--btn-CV);
    color: var(--links);
}

.btn:active, .btns:active , .btns:hover{
    transform: scale(1.1);

}

.box-container{
    flex-wrap: wrap;
}

/* Sets color, margin, border, width, display property, and
 box-shadow on Skills */
#skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--skill-col);
    border: 1px solid var(--border-colour);
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
    display: flex;
    margin: 2% 0 5% 5%;
    padding: 20px;
    width: 30%; 
    height: 200px;
    position: relative;
}

.skill-title {
    margin: 20px 0 0 20px; 
}

.lang-description {
    position: absolute;
    top: 15%;
    left: 50%;
}

.sqr-list{
    list-style-type: square;
    line-height: 1.5;
}

.sqr-list li{
    color: var(--box-col);
    font-weight: 500;
}

/* Sets color, margin, border, width, display property, and
 box-shadow on Projects Portfolio*/
#portfolio-container {
    background-color: var(--skill-col);
    border: 1px solid var(--border-colour);
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
    display:flex;
    align-items: center;
    margin: 0 0 5% 5%;
    padding: 20px;
    width: 90%; 
}

/* Portfolio h2 sets to absolute */

.portfolio-title {
    display: flex;
    align-self: flex-start;

}

.portfolio-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

/* Project images */
.proj {
    border-radius:20px;
    width: 350px;
    height: 350px;
}

/* Images project when in hover state */
.proj:hover {
    transform: scale(1.1);
}

/* caption for project images */
figcaption {
   text-align: center;
}

/* Contact */
#contact {
    background-color: var(--skill-col);
    border: 1px solid var(--border-colour);
    border-radius: 20px;
    box-shadow: 10px 10px 12px var(--box-shadow);
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
}

.contact-me {
    justify-content: flex-start;
}


/* form */

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.user-input{
    margin-left: 5%;
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/* form input */
.user-input input{
    border: none;
    border-radius: 15px;
    display: block;
    margin-bottom: 10px;
    padding: 8px 6px;
    outline: none;
}

/* set width on both input element selector */
.user-input input[type=text] {
    width: 80%;   
}

/* submit button */
.user-input input[type=submit] {
    background-color: var(--btn-CV);
    color: var(--links);
    width: 60%;
}

/* set a border when input element is focused */
.user-input input[type=text]:focus {
    border: 1px solid var(--btn-border);
}

.tile-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.envelop {
    margin-right: 50px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.icon-social {
    margin-right: 50px;
}


.social-icon a i{
    color: var(--header-bg);
}


/* Footer */
footer{
    background-color: var(--header-bg);
    height: 50px;
    margin-top: 5%;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size:10px;
}


/* Media screen 1155px */
@media screen and (max-width: 1155px) {

    /* change position of image profile */
    .profile-pic {
        left: 13%;
    }

    /* change font size for h1, h2, p */
    header h1 {
        font-size: 1.5rem
    }

     h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 14px;
    }

    /* set first p element selector font size and colour and font weight*/
    .para p:nth-of-type(1) {
    color: var(--header-bg);
    font-size: 1.1rem;
    font-weight: 700;
    }

    /* set 2nd p element selector font size and colour */
    .para p:nth-of-type(2) {
    font-size: 1rem;
    color: var(--darkslategray);
    }

    /* set position on my-work class */
    .my-work {
        justify-content: flex-start;
    }

    .my-work h2 {
        margin-left: 20px;
    }

    .portfolio {
        margin:10% auto 5px;  
    }

    /* change navigation font size */
    nav li a{
        font-size: 0.8rem
    }

    /* set width on all ids */
    #about, #myWork, #skills, #contact, #portfolio-container {
        width: 90%;
    }

    /* set margin on ids */
    #myWork, #skills, #contact, #portfolio-container {
        margin: 2% auto;
    }  

    /* set square bullet type on skills list */
    .sqr-list{
    list-style-type: square;
    }

    /* set form size */
    .user-input{
    width: 100%;
    }
}

/*--------- Media screen less than 965px -----------*/

@media screen and (max-width: 965px){
    /* hide overflow */
    *{
        overflow-x: hidden
    }

    /* set navigation to none */
    nav > ul{
        display: none;   
    }

    /* set pointer on burger menu */
    .burger-menu:hover {
        cursor: pointer;
        background-color: var(--burger-mnu);
    }

    /* set properties on burger menu when clicked */
    .toggler:checked ~ nav ul{
        display: block;
        position:absolute;
        top:100px;
        right: 0px;
        background-color: var(--toggler-bg);
        height: 200px;
        width: 30%;
    }

    /* set padding on nav list */
    nav ul li {
        padding: 2.5%;
    }

    /* set display property on burger menu */
    .burger-menu {
        display: block;
        font-size: 30px;
    }

    /* set font size on heading and maargin */
    header h1 {
        font-size: 1.5rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 1rem;
    }

    /* change location of profile picture */
    .profile-pic {
        left: 35%
    }

    /* Set colour, font size and font weight on first p in About me */
    .para p:nth-of-type(1) {
    color: var(--header-bg);
    font-size: 16px;
    font-weight: 700;
    }

    /* Set colour, font size on second p in About me */
    .para p:nth-child(2) {
    font-size: 15px;
    color: var(--darkslategray);
    }

    /* Set colour, font size on third p in About me */
    .para p:nth-child(3) {
    font-size: 15px;
    color: var(--darkslategray);
    }

    /* set margin on class my-work */
    .my-work {
        margin: 55px 0 0 30px;
        height: 100px;
    }

    /* set position on box container */
    .box-container {
        flex-direction: column;
        margin: 0 auto;
    }

    /* set position and width on box class */
    .box{
        margin: 60px auto;
        width: 100%;
    }

    /* set position on id portfolio-container and myWork */
    #portfolio-container, #myWork{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /* set margin on portfolio */
    .portfolio{
        margin: 18% auto 1px ;
    }

    /* set position on contact */
    #contact {
        flex-direction: column;
        height: auto;
    }

    /* set position on contact h2 */
    #contact h2 {
        margin: 18px;
    }

    /* set width on form */
    .user-input{
    width: 90%;
    }


    /* set position on contact icons and social-icon*/
    .contact-icon {
        top: 70%;
        left: 35%;
    }

    .social-icon {
        top:80%;
        left: 40%;
    }

    /* set overflow to hidden */
    footer{
        overflow: hidden;
    }
}

/* -- Media screen less than 565px --- */

 @media screen and (max-width: 565px) { 
     /* set all element to centre */
     *{
         text-align: center;
     }

     .toggler:checked ~ nav ul{
        display: block;
        position:absolute;
        top:100px;
        background-color: var(--toggler-bg);
        height: 200px;
        width: 50%;
     }

     nav ul li{
         display: flex;
     }

     /* set position on picture profile */
    .profile-pic {
        left: 10%;
    }

    /* set position on ids */
    #about, #myWork, #skills, #contact, #portfolio-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* set position on class my-work */
    .my-work {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* set direction on box-container */
    .box-container {
        flex-direction: column;
    }

    /* set position on box class */
    .box {

        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }

    /* set height on skills */
    #skills {
        height:30vh;
    }

    /* set position on class skill-title */
    .skill-title{
        margin-top: -200px;
        justify-content: center;
        align-items: center;
    }


    /* set position on skills code language */
    .lang-description {
        position:absolute;
        width: 100%;
        top:30%;
        left: 1%;
    }

    /* set position on contact and hide overflow */
     #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        height:35vh;
    } 

    /* set width on form */
    .user-input{
        width: 100%;
    }

    /* set position on class contact-me */
    .contact-me {
        margin-top: -70px;
    }

    /* set position on class social-icon */
    .social-icon {
        top:60%;
        left: 30%;
    }

     /* set position on class contact-icon */
    .contact-icon {
        left: 30%;
    }

     /* set position on class tile-contact*/
    .tile-contact {
        display: flex;
        flex-direction: column; 
    }

     /* set position on portfolio-container h2 */
    #portfolio-container h2{
        top: 15px;
        left:40%;
    }
}

/* --- Media screen for screen less than 375px --- */

@media screen and (max-width: 375px) { 
    @media  screen and (max-height:812px) {

        .proj {
            width: 100%;
        }

        #contact {
            height: inherit;
        }

        .contact-me {
            margin-top: 2px;
        }
     .contact-info{
         margin-top: 20px;
     }

    }
    
}